/* Los estilos de tu proyecto */
*{
    box-sizing: border-box;
}
:root {
    --orange:#f7b617;
  }
.background{
    background-color: var(--orange);
}  
.view-mobile {
    display: block;
}
.view-desktop {
    display: none;
}

/*Encabezado*/ 
a{
    color: black;
}
.navbar-header button, .navbar-header button span{
    border: 1px solid gray;
}
.pull-left{
    margin: 0 10% 5% 0;
}
/*Primera Sección*/
.box-padding{
    padding: 8% 0;
}
.image{
    background-repeat: no-repeat;
}   
.image-taxi{
    background-image: url('../assets/images/taxi.jpg');
    background-position: center bottom;
    background-size:cover; 
    height:750px;
}
.size-box{
    color: white;
    height: 250px;
    padding: 30px 40px;
    margin-top: 15%;
}
.title-travel, .text-travel{
    margin-bottom: 5%;
}
.title-travel h1{
    margin: 2px 0;
}
.text-travel{
    font-size: 20px;
}
.line{
    padding: 5%;
}
.line span{
    padding: 8%;
}
.line::before{
    background-color:white; 
    display:inline-block; 
    content: " ";
    width: 30%;
    height:1px ;
}
.line::after{
    background-color:white; 
    display:inline-block; 
    content: " ";
    width: 30%;
    max-width: 30%;
    height:1px ;
}
/*Segunda Sección*/
.border-white{
    border: 1px solid white;
    color: white;
    margin: 3%;
    height: 450px;
    padding: 3%;
}
.border-white p{
    font-size:18px;
    margin-bottom:4%; 
}
.border-white p,.border-white h2{
    margin-bottom:5%; 
}
.iphone img{
    max-width:300px;
    width: 100%;
}

/*Tercera Sección*/
.image-conduce{
    background-image: url('../assets/images/conduce.jpg');
    background-position: center center;
    background-size:100% 100%; 
    height:500px;
}
.image-conduce div{
    color:white;
}
.box-dark{
    background-color:rgba(0, 0, 0, 0.6);
    height:500px;
    padding: 10% 5%;
}
/*Cuarto Seccion*/
.box-form{
    color:white;
}
.map{
    border: 1px solid white;
    padding: 7px;
    max-width:450px;
    width: 100%;
    margin-top: 50px; 
}
.box-fourth{
    padding:20px;
}
.form-color{
    border: 1px solid white;
    background-color:  var(--orange);
    color: white;
}
.form-color::placeholder{
    color: white;
}
 /*Footer*/
footer{
    background-color: #2b2b2b;
    color: white;
}
 .box-footer{
    width:100%;
    padding:6% 8%;
}
.box-footer ul li{
    list-style: none;
    line-height: 35px;
    font-size:16px; 
}
@media (max-width: 767px){
.social-icons{
    width: 40%;
    padding-bottom: 8%;
    display: flex;
    justify-content: flex-start;
  }
}
hr{
    margin-top:40px;
}
.social-icons ul li{
    display: inline-block;
    margin:2px; 
}
.store-image{
    padding-top: 6%;
    padding-bottom:6%; 
}
.store-image img{
    width:100%;  
    max-width:170px;
    margin-bottom:15px; 
}
/*modals*/
.modal-sesion {
    background-color: #08ac9d;
}
.modal-sesion .modal-body{
   padding:8% 15%; 
}
.modal-header img{
    width: 30%;
    border-radius: 50%;
    margin-left: 35%;
}
.form-sign{
    background-color: #f5f5f5;
    padding: 30px 15px;
}
.modal-sesion .form-group span{
    color: black;
    font-size:20px;
    padding:8px 8px 0 7px;  
}
.form-sign p{
  padding-top:25px; 
}
.register-modal{
    background-color: #a9a9a9;
}
.btn-black{
    background-color: black;
    color:white;
}
.name {
  padding: 0;
}
.form-conduce{
    padding: 20px;
}
.form-conduce label, .form-conduce p{
    color: black;
}

/* Desktop*/
@media (min-width: 768px) {
    .view-mobile {
      display: none;
    }    
    .view-desktop {
      display: block;
    }
  /*Primera Sección*/  
    .size-box{
        color: white;
        height: 390px;
        padding: 30px 40px;
        margin-top: 1%;
    }
    /*Segunda Sección*/
    .border-white{
        border: 1px solid white;
        color: white;
        margin: 2% 30% 2% 0;
        height: 450px;
        width: 80%;
        padding: 3%;
    }
    .iphone img{
        max-width:400px;
        width: 100%;
    }  
    /*Tercera Sección*/
    .image-conduce div{
        color:white;
    }
    .box-dark{
        background-color:rgba(0, 0, 0, 0.6);
        height:500px;
        padding: 10% 3%;
    }
    /*Cuarta Seccion*/
    .map{
        border: 1px solid white;
        padding: 7px;
        max-width:450px;
        width: 100%; 
        margin-top: 10px;
    }
    /*Footer*/
    .store-image{
        padding-top: 10%;
    }
    .store-image img{
        width:100%;  
        max-width:165px;
        margin-bottom:15px; 
    }
    .social-icons{
        width: 25%;
    }
      
}